:root{
    --color-white: #fff;
    --color-gray: #666;
    --color-lightgray: #ccc;
    --color-violet: #4000C1;
    --color-mediumviolet: #25015e;
    --color-darkviolet: #2B007D;
    --background: #080017;
}